root{
  --primaryColor: #3d8af7;
  --greyColor: #ebebeb;
}

.container-details {
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  float: center;
  margin-top: 50px;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  border-radius: 5px;
}

#volver-btn {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

.evento-details {
  display: flex;
  justify-content: space-between;
}

.evento-details-left {
  flex: 1;
  margin-right: 20px;
}

.evento-details-right {
  flex: 1;
}
.evento-details-right img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}


#titulo-evento {
  font-weight: bold;
  margin-bottom: 5px;
}

/*reseña */
.reseña-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reseña-container h2 {
  margin-bottom: 15px;
}

.reseña-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  min-height: 100px;
}

.reseña-container div {
  margin-top: 10px;
}

.reseña-container span {
  cursor: pointer;
  font-size: 24px;
  color: #ffd700;
}

.reseña-container button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reseña-container button:hover {
  background-color: #0056b3;
}